.navbar {
    padding: 2em;
}

.navbar a {
    margin: 1em;
    color: gray;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.navbar a:hover {
    color: white;
}

#active {
    color: white;
}

#logo {
    color: white;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 700px) {
    .navbar {
        display: grid;
        text-align: center;
        row-gap: 2em;
    }

    .navbar a {
        padding: 2em;
    }

    #active {
        background-color: white;
        color: black;
    }
}