body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
    margin: 0%;
    padding: 0%;
}

/*

USE THIS TO APPLY SHARE TECH MONO :

font-family: 'Share Tech Mono', monospace; 

USE  THIS TO APPLY MONTSERRAT :

font-family: 'Montserrat', sans-serif;

*/

.navbar {
    padding: 2em;
}

.navbar a {
    margin: 1em;
    color: gray;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.navbar a:hover {
    color: white;
}

#active {
    color: white;
}

#logo {
    color: white;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.2em;
}

.content {
    color: white;
    margin-top: 8em;
    margin-left: 10em;
    width: 32em;
}

.content-header {
    letter-spacing: 0.5em;
    font-family: 'Share Tech Mono', monospace;
}

.content-paragraph {
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.content-button {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    border-style: solid;
    border-color: white;
    padding: 0.5em 1em;
    width: 10em;
    text-align: center;
}

.content-button:hover {
    width: 13em;
    transform: scale(100%);
    cursor: pointer;
}

.content-button:hover p::after {
    content:"ing...";
}

@media screen and (max-width: 700px) {
    .content {
        margin: 0%;
        text-align: center;
        max-width: 100%;
    }

    .content-button {
        margin: auto;
    }
}
